.new-idea {
  float: left;
}

#speech-button {
  opacity: 0;

  font-size: 306px !important;
  width: 131px !important;
  height: 306px !important;
  border: none !important;
  margin-left: 5px;
  outline: none;
  background: transparent;

  -webkit-transform: scale(8, 8) !important;

  position: absolute;
  top: 92px;
  left: -252px;
}

.fake-speech-button {
  background-image: image-url('answer.png');
  background-repeat: no-repeat;
  width: 306px;
  height: 131px;
}

#speech-contatiner {
  overflow: hidden;

  height: 131px;
  width: 306px;
}
