.node ellipse {
  fill: #fff;
  stroke: orange;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}



.button (@img) {
  background-image: image-url(@img);
  background-repeat: no-repeat;
  width: 306px;
  height: 131px;
}

.pressed {
  background-position-y: -131px;
}

.question-container {
  height: 100px;
}

.result-container {
  height: 250px;
  overflow-y: scroll;
  overflow-x: no-scroll;
}

.speech-contatiner {
  overflow: hidden;

  height: 131px;
  width: 306px;

  position: relative;

  top:0;
  left: 167px;
}


.new-idea-button {
  .button('newidea.png');
  float: left;
}

#speech-button {
  opacity: 0;

  font-size: 306px !important;
  width: 131px !important;
  height: 306px !important;
  border: none !important;
  margin-left: 5px;
  outline: none;
  background: transparent;

  -webkit-transform: scale(8, 8) !important;

  position: absolute;

  top: -80px;
  left: -257px;
}

.fake-speech-button {
  .button('answer.png');
}
