.question-container {
  height: 100px;
}

.result-container {
  height: 250px;
  overflow-y: scroll;
  overflow-x: no-scroll;
}

.speech-contatiner {
  overflow: hidden;

  height: 131px;
  width: 306px;

  position: relative;

  top:0;
  left:0;
}


.new-idea {
  float: left;
}

#speech-button {
  opacity: 0;

  font-size: 306px !important;
  width: 131px !important;
  height: 306px !important;
  border: none !important;
  margin-left: 5px;
  outline: none;
  background: transparent;

  -webkit-transform: scale(8, 8) !important;

  position: absolute;

  top: -80px;
  left: -257px;
}

.fake-speech-button {
  background-image: image-url('answer.png');
  background-repeat: no-repeat;
  width: 306px;
  height: 131px;
}

